.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #266AD9;
  color: white;
  padding-top: 64px;
  padding-bottom: 48px;
  width: 100%;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  max-width: 1420px;
  width: 100%;
  padding: 32px 120px;
  padding-bottom: 48px;
  gap: 2rem;
}

.heroText {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 70%;
  padding-top: 48px;
}

.heroText h1 {
  font-size: 28px;
  margin: 0;
}

.heroText h2 {
  font-size: 68px;
  margin: 0.5rem 0;
}

.heroText h3 {
  font-size: 28px;
  margin: 0.5rem 0;
}

.heroBodyMobile {
  display: none;
}

.heroText p {
  padding-top: 24px;
  font-size: 20px;
  line-height: 1.5;
  margin: 0;
  text-align: left;
  max-width: 400px;
}

.heroText button,
.heroBodyMobile button {
  padding: 12px;
  border-radius: 20px;
  border: none;
  color: #266AD9;
  font-size: 24px;
  margin-top: 48px;
  background-color: #FFFFFF;
}

.heroText button:hover,
.heroBodyMobile button:hover {
  cursor: pointer;
  background-color: #DEE0E0;
}

.heroImage {
  width: 380px;
  position: relative;
}

.myPhoto {
  width: 100%;
  height: auto;
  border-radius: 10px;
  object-fit: cover;
  z-index: 2;
  position: relative;
}

@media (max-width: 1450px) {
  .heroText {
    width: 50%;
  }
  .myPhoto {
    height: 478px;
    object-fit: scale-down;
  }
  .heroText h2 {
    font-size: 48px;
  }
}

@media (max-width: 1200px) {
  .heroText p,
  .heroBodyMobile p {
    font-size: 16px;
  }
  .heroText h2 {
    font-size: 36px;
  }
  .heroText h3 {
    font-size: 20px;
  }
}

@media (max-width: 950px) {
  .wrapper {
    padding: 32px 80px;
  }
}

/* Mobile */
@media (max-width: 768px) {
  .hero {
    padding-top: 64px;
  }

  .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 16px;
    gap: 0;
  }

  .heroText h2 {
    margin: 0;
    font-size: 42px;
  }

  .heroText h3 {
    margin: 0;
  }

  .heroText {
    width: 100%;
    padding-top: 0;
    order: 1;
  }

  .heroImage {
    width: 250px;
    flex-shrink: 0;
    margin: 0 auto;
    order: 2;
  }

  .myPhoto {
    width: 100%;
    height: auto;
    border-radius: 12px;
    object-position: top;
  }

  .heroBodyMobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    order: 3;
  }

  .heroBody {
    display: none;
  }

  .heroText p,
  .heroBodyMobile p {
    text-align: start;
    margin: 0;
  }

  .heroBodyMobile button {
    margin: 14px;
  }
}